# App
PORT=3000
NODE_ENV=development

# Postgres
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DB_POOL_MAX=

# OpenAI
OPENAI_API_KEY=
OPENAI_LLM_MODEL=
OPENAI_EMBEDDING_MODEL=

# GroqAI
GROQ_API_KEY=